<div id="highlighter--hover-tools">
  <div id="highlighter--hover-tools--container">
    <div class="color_picker">
      <div class="tooltip_head">
        <p>Choose Color</p>
        <div class="highlighter--icon highlighter--icon-delete" title="Delete">
          <img src="" alt="" class="delete-icon"/>
        </div>
      </div>
      <div class="color_box_container">
        <div
          class="color_box highlighter--icon-change-color"
          data-color-id="corn"
          style="background-color: #f0ec68"></div>
        <div
          class="color_box highlighter--icon-change-color"
          data-color-id="lavender"
          style="background-color: #f3abff"></div>
        <div
          class="color_box highlighter--icon-change-color"
          data-color-id="melon"
          style="background-color: #feb7ae"></div>
        <div
          class="color_box highlighter--icon-change-color"
          data-color-id="pale-blue"
          style="background-color: #b4edf4"></div>
        <div
          class="color_box highlighter--icon-change-color"
          data-color-id="feldspar"
          style="background-color: #ffd6af"></div>
      </div>
    </div>
  </div>
</div>
